@font-face {
  font-family: 'Azo Sans';
  src: local('Azo'), url(./fonts/azo-sans-black.woff) format('woff');
}
@font-face {
  font-family: 'Azo Sans';
  src: local('Azo'), url(./fonts/azo-sans-bold.woff) format('woff');
}
@font-face {
  font-family: 'Azo Sans';
  src: local('Azo'), url(./fonts/azo-sans-medium.woff) format('woff');
}
@font-face {
  font-family: 'Azo Sans';
  src: local('Azo'), url(./fonts/azo-sans-regular.woff) format('woff');
}


body,
html {
  font-family: "Azo Sans",arial,helvetica,sans-serif;
  height: 100%;
}

body {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
}

#root {
  height: -webkit-fill-available;
}
::selection {
  background: rgba(48,224,111,.5);
  color: #fff;
}