body,
html {
  // font-family: "Azo Sans",arial,helvetica,sans-serif;
  font-family: 'Azo Sans';
  height: 100%;
}

body {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
}

#root {
  height: -webkit-fill-available;
}
::selection {
  background: rgba(48,224,111,.5);
  color: #fff;
}